{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
    {% if object.id %}
        Update Comment #{{ object.id }}
    {% else %}
        Create Comment
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object.id %}
            Update Comment #{{ object.id }}
        {% else %}
            Create Comment
        {% endif %}
        for expense "{{ expense }}"
    </h1>

    <form method="post">
        <ul>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if object.id %}
                {% bootstrap_button "Update" %}
            {% else %}
                {% bootstrap_button "Create" %}
            {% endif %}
        </ul>
    </form>


{% endblock %}
