{% extends "base.html" %}
{% load humanize django_bootstrap5 %}

{% block title %}
    Expense #{{ object.id }}: {{ object.title }}
{% endblock %}

{% block content %}
    <h1>Expense #{{ object.id }}: {{ object.title }}</h1>

    <p>
        <a class="btn btn-outline-primary btn-sm"
           href="{% url "expenses:update" object.pk %}">Update</a>
        {% if object.active %}
        <a class="btn btn-outline-danger btn-sm"
           href="{% url "expenses:delete" object.pk %}">Delete</a>
        {% else %}
        <a class="btn btn-outline-danger btn-sm"
           href="{% url "expenses:delete" object.pk %}">Undelete</a>
        {% endif %}
    </p>

    <ul>
        <li>ID: {{ object.id }}</li>
        <li>Title: {{ object.title }}</li>
        <li>Amount: ${{ object.amount }}</li>
        <li>Date: {{ object.date }}</li>
        <li>Description: {{ object.description|linebreaks }}</li>
    </ul>

    <h2>Comments</h2>
    <ul class="list-group">
        {% for c in object.comments.all %}
            <li class="list-group-item">
                <div class="fw-bold" title="{{ c.created_at }}">
                    {{ c.created_at|naturaltime }}
                </div>
                {{ c.content|linebreaks }}
            </li>
        {% endfor %}
        <li class="list-group-item">
            <form method="post" action="{% url "expenses:comment_create" object.id %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% if object.id %}
                        {% bootstrap_button "Update" %}
                    {% else %}
                        {% bootstrap_button "Create" %}
                    {% endif %}
            </form>
        </li>
    </ul>

    <div hx-get="{% url "expenses:random" %}">
        CLICK ME!!!!
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.7.0/htmx.min.js" integrity="sha512-etqA0KankuxrlSeZDYycQBY/D/KWZn0YZjlsjAo7kCEBTy1gg+DwmR6icxtOpqDBOzm2P00/lSIXEu7K+zvNsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}
