{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
Home
{% endblock %}

{% block content %}

    <h1>Home</h1>

    <p>
        {% if q %}
            <span class="search-caption">
        Searched for: <b>{{ q }}</b> <a href="/">✕</a>
        </span>
            &bull;
        {% endif %}
        Expenses Found: {{ object_list.count }}
    </p>
{#    {% bootstrap_pagination object_list.pager %}#}
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list.all %}
            <tr>
                <td><a href="{{ object.get_absolute_url }}">{{ object.id }}</a>
                </td>
                <td>{{ object.title }}</td>
                <td>{{ object.category }}</td>
                <td class="amount-cell">${{ object.amount }}</td>
                <td>{{ object.comments.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>${{ total }}</th>
            <th></th>
        </tr>
        </tfoot>
    </table>
{% endblock %}
