<h1>Million Man</h1>

<form>
    <p>
        Search: <input name="q" type="search" value="{{ q }}"/>
    </p>

    <p>
        <label>
            Amount:
            <select name="amount_range">
                <option value="">All</option>
                <option value="cheap">Cheap (<$10)</option>
                <option value="regular">Regular ($10-$100)</option>
                <option value="expensive">Expensive (>$100)</option>
            </select>
        </label>
    </p>
    <button>Search</button>

</form>


<p>
    {% if q %}
        Searched for: <b>{{ q }}</b>
        <a href="/">✕</a> &bull;
    {% endif %}
    Expenses Found: {{ object_list.count }}
</p>
<table border="1">
    <thead>
    <tr>
        <th>Title</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list.all %}
        <tr>
            <td>{{ object.title }}</td>
            <td>${{ object.amount }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

