/* tag */
body {
    background: lightblue;
}

/* class */
.amount-cell {
    text-align: right;
}

.search-caption {
    background: coral;
    font-style: italic;
}

th, td {
    border: solid 1px black;
}

tfoot th {
    border: none;
}
